<template lang="pug">
div#app
    .ui.huge.fixed.borderless.inverted.primary.menu
        a.item(style="font-size: 24px; color: #ffffff;" href="/")
            i.material-icons.md-72.mr-15 my_location
            | Engenho Novo LLC
        a.item
            | In Principio

        a.item
            | In Media Res

        .right.menu

            a.item
                .ui.compact.primary.inverted.menu
                    .ui.simple.dropdown.item(style="font-size: 18px")
                        i.material-icons.md-36.mr-15 rowing
                        | Medieval Iberia
                        i.material-icons.ml-10 keyboard_arrow_down
                        .menu(style="font-size: 16px")
                            a.item(href="/cid")
                                i.material-icons.md-24.mr-15 rowing
                                | Cantar del Mio Cid

                            a.item(href="/juglaria")
                                i.material-icons.md-24.mr-15 track_changes
                                | Mester de Juglaria
                            a.item(href="/cleresia")
                                i.material-icons.md-24.mr-15 call
                                | Mester de Cleresia
                            a.item(href="/cantigas")
                                i.material-icons.md-24.mr-15 autorenew
                                | Cantigas de Santa Maria
                            a.item(href="/amor")
                                i.material-icons.md-24.mr-15 account_balance
                                | El Libro de Buen Amor
                            a.item(href="/quixote")
                                i.material-icons.md-24.mr-15 pool
                                |  Don Quixote
                            a.item(href="/autos")
                                i.material-icons.md-24.mr-15 my_location
                                | Autos le los Reyes Magos
                            a.item(href="/muwash")
                                i.material-icons.md-24.mr-15 directions_run
                                | Muwashshahat
                            a.item(href="/dimna")
                                i.material-icons.md-24.mr-15 tv
                                | Calila y Dimna
                            a.item(href="/hazm")
                                i.material-icons.md-24.mr-15 local_library
                                | Tawq al-Hammama
                        script.
                            $(document).ready(function(){
                                    $('.ui.dropdown').dropdown();
                                });

                        script.
                            $('.activating.element')
                            .popup()
                            ;
    nuxt
</template>

<style>

        @import '../semantic/dist/semantic.min.css';
        @import "https://fonts.googleapis.com/css?family=News+Cycle|News+Cycle|Material+Icons");
        @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

        body, html {
            font-family: 'News Cycle', sans-serif !important;
            max-width: 100%;
            overflow: none !important
        }

        .dignity {
                font-family: 'News Cycle', sans-serif !important;
            }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'News Cycle', sans-serif !important;
            font-weight: 300;
        }
        .material-icons, .fa, .fas, .far, .fab {
            vertical-align: middle;
        }

        a.dropdown-item:hover {
            background-color: #607d8b;
            color: white;
        }
        a.dropdown-item:active {
            background-color: black;
            color: white;
        }

        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }
        .material-icons.md-60 { font-size: 60px; }
        .material-icons.md-72 { font-size: 72px; }
        .material-icons.md-84 { font-size: 84px; }
        .material-icons.md-96 { font-size: 96px; }

        .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

        .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
</style>
